## Create a PySpark session

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

## Download sample data from [Kaggle](https://www.kaggle.com/austinreese/craigslist-carstrucks-data).

Unpack the archive and rename the data file as ***vehicles.csv*** (if needed). It contains more than 400.000 used car offers from the Craigslist.org. There are 26 columns of with informations about each car, although not all were filled in by poster.

## Define the schema for sample data

Define the data type for each consecutive column. Information about supported data types can be found [here](https://spark.apache.org/docs/latest/sql-ref-datatypes.html).

In [2]:
from pyspark.sql.types import StructType, DoubleType, StringType, IntegerType, DateType
schema = StructType() \
      .add("id",DoubleType(),True) \
      .add("url",StringType(),True) \
      .add("region",StringType(),True) \
      .add("region_url",StringType(),True) \
      .add("price",IntegerType(),True) \
      .add("year",IntegerType(),True) \
      .add("manufacturer",StringType(),True) \
      .add("model",StringType(),True) \
      .add("condition",StringType(),True) \
      .add("cylinders",StringType(),True) \
      .add("fuel",StringType(),True) \
      .add("odometer",DoubleType(),True) \
      .add("title_status",StringType(),True) \
      .add("transmission",StringType(),True) \
      .add("VIN",StringType(),True) \
      .add("drive",StringType(),True) \
      .add("size",StringType(),True) \
      .add("type",StringType(),True) \
      .add("paint_color",StringType(),True) \
      .add("image_url",StringType(),True) \
      .add("description",StringType(),True) \
      .add("county",StringType(),True) \
      .add("state",StringType(),True) \
      .add("lat",DoubleType(),True) \
      .add("long",DoubleType(),True) \
      .add("posting_date",DateType(),True)

## Read data from the file and create the DataFrame

We need to read the data from the .csv file and create the DataFrame. As the file contains the header information for columns we add the appropriate option.

In [3]:
raw_df = spark.read.option("header", True) \
     .schema(schema) \
     .csv("vehicles.csv")

As it was already mentioned this DataFrame is quite big. Let's display the first 10 records:

In [4]:
raw_df.show(10)

+-------------+--------------------+--------------------+--------------------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+----+-----+----+----+-----------+---------+-----------+------+-----+----+----+------------+
|           id|                 url|              region|          region_url|price|year|manufacturer|model|condition|cylinders|fuel|odometer|title_status|transmission| VIN|drive|size|type|paint_color|image_url|description|county|state| lat|long|posting_date|
+-------------+--------------------+--------------------+--------------------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+----+-----+----+----+-----------+---------+-----------+------+-----+----+----+------------+
|7.222695916E9|https://prescott....|            prescott|https://prescott....| 6000|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   az|null|null|        null|
|7.218891961E9|https://fayar.cra...|        fayetteville|https://fayar.cra...|11900|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   ar|null|null|        null|
|7.221797935E9|https://keys.crai...|        florida keys|https://keys.crai...|21000|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   fl|null|null|        null|
| 7.22227076E9|https://worcester...|worcester / centr...|https://worcester...| 1500|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   ma|null|null|        null|
| 7.21038403E9|https://greensbor...|          greensboro|https://greensbor...| 4900|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   nc|null|null|        null|
|7.222379453E9|https://hudsonval...|       hudson valley|https://hudsonval...| 1600|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   ny|null|null|        null|
|7.221952215E9|https://hudsonval...|       hudson valley|https://hudsonval...| 1000|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   ny|null|null|        null|
|7.220195662E9|https://hudsonval...|       hudson valley|https://hudsonval...|15995|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   ny|null|null|        null|
|7.209064557E9|https://medford.c...|     medford-ashland|https://medford.c...| 5000|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   or|null|null|        null|
|7.219485069E9|https://erie.crai...|                erie|https://erie.crai...| 3000|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   pa|null|null|        null|
+-------------+--------------------+--------------------+--------------------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+----+-----+----+----+-----------+---------+-----------+------+-----+----+----+------------+
only showing top 10 rows

Number of rows can be obtained using [count](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrame.count.html) method:

In [5]:
raw_df.count()

441802

List the column names:

In [6]:
raw_df.columns

['id',
 'url',
 'region',
 'region_url',
 'price',
 'year',
 'manufacturer',
 'model',
 'condition',
 'cylinders',
 'fuel',
 'odometer',
 'title_status',
 'transmission',
 'VIN',
 'drive',
 'size',
 'type',
 'paint_color',
 'image_url',
 'description',
 'county',
 'state',
 'lat',
 'long',
 'posting_date']

As there is so many columns it's hard to read the data. Let's display the first record in vertical mode:

In [7]:
raw_df.show(1, vertical = True)

-RECORD 0----------------------------
 id           | 7.222695916E9
 url          | https://prescott....
 region       | prescott
 region_url   | https://prescott....
 price        | 6000
 year         | null
 manufacturer | null
 model        | null
 condition    | null
 cylinders    | null
 fuel         | null
 odometer     | null
 title_status | null
 transmission | null
 VIN          | null
 drive        | null
 size         | null
 type         | null
 paint_color  | null
 image_url    | null
 description  | null
 county       | null
 state        | az
 lat          | null
 long         | null
 posting_date | null
only showing top 1 row

We can check the data types for consecutive columns:

In [8]:
raw_df.printSchema()

root
 |-- id: double (nullable = true)
 |-- url: string (nullable = true)
 |-- region: string (nullable = true)
 |-- region_url: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- manufacturer: string (nullable = true)
 |-- model: string (nullable = true)
 |-- condition: string (nullable = true)
 |-- cylinders: string (nullable = true)
 |-- fuel: string (nullable = true)
 |-- odometer: double (nullable = true)
 |-- title_status: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- VIN: string (nullable = true)
 |-- drive: string (nullable = true)
 |-- size: string (nullable = true)
 |-- type: string (nullable = true)
 |-- paint_color: string (nullable = true)
 |-- image_url: string (nullable = true)
 |-- description: string (nullable = true)
 |-- county: string (nullable = true)
 |-- state: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- posting_date: date (nullable = true)

## Select rows where manufacturer, model, and price are provided

As it could be seen above some offers do not provide even basic info about the car. Let's create new DataFrame were only records with provided manufacturer, model and price are stored.

In [9]:
from pyspark.sql.functions import col
df = raw_df.where(col("manufacturer").isNotNull() & col("model").isNotNull() & col("price").isNotNull())
df.show(10)

+-------------+--------------------+------+--------------------+-----+----+------------+--------------------+---------+-----------+----+--------+------------+------------+-----------------+-----+---------+------+-----------+--------------------+--------------------+------+-----+-------+----------+------------+
|           id|                 url|region|          region_url|price|year|manufacturer|               model|condition|  cylinders|fuel|odometer|title_status|transmission|              VIN|drive|     size|  type|paint_color|           image_url|         description|county|state|    lat|      long|posting_date|
+-------------+--------------------+------+--------------------+-----+----+------------+--------------------+---------+-----------+----+--------+------------+------------+-----------------+-----+---------+------+-----------+--------------------+--------------------+------+-----+-------+----------+------------+
|7.316814884E9|https://auburn.cr...|auburn|https://auburn.cr...|33590|2014|         gmc|sierra 1500 crew ...|     good|8 cylinders| gas| 57923.0|       clean|       other|3GTP1VEC4EG551563| null|     null|pickup|      white|https://images.cr...|Carvana is the sa...|  null|   al|  32.59|    -85.48|  2021-05-04|
|7.316814758E9|https://auburn.cr...|auburn|https://auburn.cr...|22590|2010|   chevrolet|      silverado 1500|     good|8 cylinders| gas| 71229.0|       clean|       other|1GCSCSE06AZ123805| null|     null|pickup|       blue|https://images.cr...|Carvana is the sa...|  null|   al|  32.59|    -85.48|  2021-05-04|
|7.316814989E9|https://auburn.cr...|auburn|https://auburn.cr...|39590|2020|   chevrolet| silverado 1500 crew|     good|8 cylinders| gas| 19160.0|       clean|       other|3GCPWCED5LG130317| null|     null|pickup|        red|https://images.cr...|Carvana is the sa...|  null|   al|  32.59|    -85.48|  2021-05-04|
|7.316743432E9|https://auburn.cr...|auburn|https://auburn.cr...|30990|2017|      toyota|tundra double cab sr|     good|8 cylinders| gas| 41124.0|       clean|       other|5TFRM5F17HX120972| null|     null|pickup|        red|https://images.cr...|Carvana is the sa...|  null|   al|  32.59|    -85.48|  2021-05-04|
|7.316356412E9|https://auburn.cr...|auburn|https://auburn.cr...|15000|2013|        ford|           f-150 xlt|excellent|6 cylinders| gas|128000.0|       clean|   automatic|             null|  rwd|full-size| truck|      black|https://images.cr...|2013 F-150 XLT V6...|  null|   al| 32.592|  -85.5189|  2021-05-03|
|7.316343444E9|https://auburn.cr...|auburn|https://auburn.cr...|27990|2012|         gmc|sierra 2500 hd ex...|     good|8 cylinders| gas| 68696.0|       clean|       other|1GT220CG8CZ231238|  4wd|     null|pickup|      black|https://images.cr...|Carvana is the sa...|  null|   al|  32.59|    -85.48|  2021-05-03|
|7.316304717E9|https://auburn.cr...|auburn|https://auburn.cr...|34590|2016|   chevrolet|silverado 1500 do...|     good|6 cylinders| gas| 29499.0|       clean|       other|1GCVKREH6GZ228691|  4wd|     null|pickup|     silver|https://images.cr...|Carvana is the sa...|  null|   al|  32.59|    -85.48|  2021-05-03|
|7.316285779E9|https://auburn.cr...|auburn|https://auburn.cr...|35000|2019|      toyota|              tacoma|excellent|6 cylinders| gas| 43000.0|       clean|   automatic|             null|  4wd|     null| truck|       grey|https://images.cr...|Selling my 2019 T...|  null|   al|32.6013|-85.443974|  2021-05-03|
|7.316257769E9|https://auburn.cr...|auburn|https://auburn.cr...|29990|2016|   chevrolet|colorado extended...|     good|6 cylinders| gas| 17302.0|       clean|       other|1GCHTCE37G1186784|  4wd|     null|pickup|        red|https://images.cr...|Carvana is the sa...|  null|   al|  32.59|    -85.48|  2021-05-03|
|7.316133914E9|https://auburn.cr...|auburn|https://auburn.cr...|38590|2011|   chevrolet|corvette grand sport|     good|8 cylinders| gas| 30237.0|       clean|       other|1G1YR3DW3B5102190|  rwd|     null| other|        red|https://images.cr...|Carvana is the sa...|  null|   al|  32.59|    -85.48|  2021-05-03|
+-------------+--------------------+------+--------------------+-----+----+------------+--------------------+---------+-----------+----+--------+------------+------------+-----------------+-----+---------+------+-----------+--------------------+--------------------+------+-----+-------+----------+------------+
only showing top 10 rows

Number of rows in this new DataFrame:

In [10]:
df.count()

404022

Let's see the first record in vertical mode:

In [11]:
df.show(1, vertical = True)

-RECORD 0----------------------------
 id           | 7.316814884E9
 url          | https://auburn.cr...
 region       | auburn
 region_url   | https://auburn.cr...
 price        | 33590
 year         | 2014
 manufacturer | gmc
 model        | sierra 1500 crew ...
 condition    | good
 cylinders    | 8 cylinders
 fuel         | gas
 odometer     | 57923.0
 title_status | clean
 transmission | other
 VIN          | 3GTP1VEC4EG551563
 drive        | null
 size         | null
 type         | pickup
 paint_color  | white
 image_url    | https://images.cr...
 description  | Carvana is the sa...
 county       | null
 state        | al
 lat          | 32.59
 long         | -85.48
 posting_date | 2021-05-04
only showing top 1 row

Let's also sample a random record. We will use the following methods: [sample](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrame.sample.html), [limit](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrame.limit.html).

In [12]:
df.sample(0.001).limit(1).show(vertical = True)

-RECORD 0----------------------------
 id           | 7.313451714E9
 url          | https://dothan.cr...
 region       | dothan
 region_url   | https://dothan.cr...
 price        | 27990
 year         | 2012
 manufacturer | toyota
 model        | tacoma double cab...
 condition    | good
 cylinders    | 6 cylinders
 fuel         | gas
 odometer     | 67245.0
 title_status | clean
 transmission | other
 VIN          | 5TFLU4EN4CX030112
 drive        | 4wd
 size         | null
 type         | pickup
 paint_color  | silver
 image_url    | https://images.cr...
 description  | Carvana is the sa...
 county       | null
 state        | al
 lat          | 31.23
 long         | -85.4
 posting_date | 2021-04-27

## Show distinct manufacturers

First we are going to create a [temporary view](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrame.createOrReplaceTempView.html).

In [27]:
df.createOrReplaceTempView("table_df")

In [50]:
spark.sql("SELECT manufacturer, count(*) AS occurances, \
    AVG(price) AS avg_price, \
    MAX(price) AS max_price, \
    MIN(price) AS min_price \
    FROM table_df \
    GROUP BY manufacturer \
    ORDER BY occurances DESC").show(100)

+---------------+----------+------------------+----------+---------+
|   manufacturer|occurances|         avg_price| max_price|min_price|
+---------------+----------+------------------+----------+---------+
|           ford|     70269| 36616.24484481066|1111111111|        0|
|      chevrolet|     54151|23654.187291093425| 123456789|        0|
|         toyota|     33942|15839.777267102705|    131500|        0|
|          honda|     21155|10786.607846844718|    123456|        0|
|         nissan|     18948| 18913.03562381254| 135008900|        0|
|           jeep|     18873|  92880.9424044932|1410065407|        0|
|            ram|     17367|28358.096389704613|  17000000|        0|
|            gmc|     16576|30614.966155888033| 123456789|        0|
|            bmw|     14584| 19036.12260010971|    138000|        0|
|          dodge|     13438|14765.301830629558|   6995495|        0|
|  mercedes-benz|     11694| 19519.11894988883|    990000|        0|
|        hyundai|     10278|10752.323603813971|     50000|        0|
|         subaru|      9457|13075.302527228509|    195000|        0|
|     volkswagen|      9260|12583.162958963283|    149000|        0|
|            kia|      8415|11113.018419489008|     55325|        0|
|          lexus|      8150|19259.542699386504|    114950|        0|
|           audi|      7532|23405.218268720128|    160000|        0|
|       cadillac|      6880| 19532.89476744186|    195000|        0|
|       chrysler|      5981|10483.984617956863|    655000|        0|
|          acura|      5948|19915.748823133825|    139999|        0|
|          buick|      5447| 36993.38186157518| 123456789|        0|
|          mazda|      5391|12388.829159710629|     45000|        0|
|       infiniti|      4773|19650.850827571758|     69995|        0|
|        lincoln|      4174|19933.444896981313|   1234567|        0|
|          volvo|      3278|394664.49389871873|1234567890|        0|
|     mitsubishi|      3277|13766.353066829417|     39999|        0|
|           mini|      2361|14185.116899618806|     42500|        0|
|        pontiac|      2248| 8138.923487544484|     98000|        0|
|         jaguar|      1921|26761.590838105152|    150000|        0|
|          rover|      1807|26575.087437742113|    129888|        0|
|        porsche|      1351|32215.638786084382|    304995|        0|
|        mercury|      1165| 5318.066094420601|     60000|        0|
|         saturn|      1070| 6953.099065420561|   2000000|        0|
|     alfa-romeo|       897| 28237.34894091416|     62950|        0|
|          tesla|       852| 37967.50352112676|    104990|        0|
|           fiat|       787|11919.855146124524|     32500|        0|
|harley-davidson|       141|12385.964539007093|     39900|        0|
|        ferrari|        77|114749.09090909091|    449500|        0|
|         datsun|        62|15393.725806451614|     30000|        1|
|   aston-martin|        24|53494.541666666664|    179888|        0|
|     land rover|        21|7911.0952380952385|     55000|        0|
+---------------+----------+------------------+----------+---------+

In [51]:
avg_df = spark.sql("SELECT manufacturer, AVG(price), STDDEV(price) \
    FROM table_df \
    GROUP BY manufacturer").show(100)

+---------------+------------------+-----------------------------+
|   manufacturer|        avg(price)|stddev(CAST(price AS DOUBLE))|
+---------------+------------------+-----------------------------+
|         jaguar|26761.590838105152|           15486.088436083777|
|          buick| 36993.38186157518|           1672617.0299815973|
|     land rover|7911.0952380952385|            15025.62842580889|
|     mitsubishi|13766.353066829417|             9285.72397067099|
|        pontiac| 8138.923487544484|            9421.648531995548|
|          lexus|19259.542699386504|           12619.053652702445|
|         toyota|15839.777267102705|           13089.547326712098|
|       chrysler|10483.984617956863|           14699.215883897876|
|          tesla| 37967.50352112676|           15207.115049401118|
|        lincoln|19933.444896981313|             23634.3541355372|
|           audi|23405.218268720128|           15466.816180943159|
|         datsun|15393.725806451614|            9549.644412175527|
|            bmw| 19036.12260010971|           13726.258614724806|
|           jeep|  92880.9424044932|         1.0263932178692713E7|
|          dodge|14765.301830629558|           62476.555451733046|
|          rover|26575.087437742113|            19469.34251910804|
|        hyundai|10752.323603813971|            7720.837081650089|
|           ford| 36616.24484481066|            4208623.572091618|
|     alfa-romeo| 28237.34894091416|            8042.396149370959|
|       cadillac| 19532.89476744186|           15867.259940336859|
|            ram|28358.096389704613|           130031.82866951694|
|          mazda|12388.829159710629|            9624.326149205524|
|        ferrari|114749.09090909091|              94271.404299694|
|            kia|11113.018419489008|            8314.926542572954|
|  mercedes-benz| 19519.11894988883|           20256.620554931393|
|        porsche|32215.638786084382|            30515.36775039784|
|   aston-martin|53494.541666666664|            48110.93388245199|
|         saturn| 6953.099065420561|           61131.952555909265|
|      chevrolet|23654.187291093425|            759519.2669453905|
|          honda|10786.607846844718|            8741.561304877247|
|           mini|14185.116899618806|             9631.35412302488|
|           fiat|11919.855146124524|            7325.533429889307|
|     volkswagen|12583.162958963283|            9112.570121363804|
|        mercury| 5318.066094420601|            5435.726425680141|
|harley-davidson|12385.964539007093|            7655.513645556709|
|          acura|19915.748823133825|           13504.731571976243|
|            gmc|30614.966155888033|            958924.5063393442|
|       infiniti|19650.850827571758|           12021.695684708875|
|         nissan| 18913.03562381254|            980766.5954179975|
|         subaru|13075.302527228509|            9534.981742792814|
|          volvo|394664.49389871873|          2.156275553972817E7|
+---------------+------------------+-----------------------------+